# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/.pnp
.pnp.js
/frontend/mern-exercise-tracker/node_modules

# testing
/frontend/mern-exercise-tracker/coverage

# production
/frontend/mern-exercise-tracker/build

# misc
/frontend/mern-exercise-tracker/.DS_Store
/frontend/mern-exercise-tracker/.env.local
/frontend/mern-exercise-tracker/.env.development.local
/frontend/mern-exercise-tracker/.env.test.local
/frontend/mern-exercise-tracker/.env.production.local

/frontend/mern-exercise-tracker/npm-debug.log*
/frontend/mern-exercise-tracker/yarn-debug.log*
/frontend/mern-exercise-tracker/yarn-error.log*
